.App p {
  font-family: cursive;
}

.HomePage > div{
  margin-bottom: 8.5rem;
}

.single_Product_BoxShadow_App_Css{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.welcomeBox_app_css{
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;  
}
.welcomeBox_app_css > div{
  display: grid;
  justify-content: center;
  margin-bottom: 30px;  
}